<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统消息</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no,email=no" name="format-detection"/>
    <script src="../../../js/css/flexible.js"></script>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/message.css">
</head>
<body>
<div class="head2">
    <span class="back2"><</span>系统消息
</div>
<div class="mes-box">
    <div class="mess-wrapper">
        <span class="box-tit">推送消息</span>
        <span class="box-tit tright">2016-10-03&nbsp;13:34:02</span>
    </div>
    <p class="box-content">@你，这些护发产品送你了</p>
</div>
<div class="mes-box">
    <div class="mess-wrapper">
        <span class="box-tit">推送消息</span>
        <span class="box-tit tright">2016-09-13&nbsp;13:34:02</span>
    </div>
    <p class="box-content">金秋好礼，节大欢喜，9月14日到9月17日期间，烫染低至6.8折，还送50元优惠券，预约从速</p>
</div>
<div class="mes-box">
    <div class="mess-wrapper">
        <span class="box-tit">推送消息</span>
        <span class="box-tit tright">2016-09-07&nbsp;13:34:02</span>
    </div>
    <p class="box-content">换个发型迎秋天，长发及腰只要半天，9月无痕接发优惠继续，低至1388元起，快来预约</p>
</div>
<script src="../../../js/jquery-1.12.3.min.js"></script>
<script src="../../../js/global.js"></script>
</body>
</html>