<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收藏作品</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <script src="../../../js/css/flexible.js"></script>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/common.css">
    <link rel="stylesheet" href="../../../css/favorite.css">
</head>
<body>
<div class="head2">
    <span class="back2"></span>收藏技师
</div>
<div class="fav-wrapper center">
    <div class="fav-opus" reUrl="../mystylistopus.html">
        <img src="../../../images/fav.png" title="收藏作品" class="opus-img"/>
        <p class="opus-name">缤纷晕染</p>
        <p class="opus-assess">
            <span class="fav-cost">￥258</span>
            132人已做
        </p>
    </div>
    <div class="fav-opus" reUrl="../mystylistuse.html">
        <img src="../../../images/fav.png" title="收藏作品" class="opus-img"/>
        <p class="opus-name">缤纷晕染</p>
        <p class="opus-assess">
            <span class="fav-cost">￥258</span>
            132人已做
        </p>
    </div>
    <div class="fav-opus" reUrl="../mystylistuse.html">
        <img src="../../../images/fav.png" title="收藏作品" class="opus-img"/>
        <p class="opus-name">缤纷晕染</p>
        <p class="opus-assess">
            <span class="fav-cost">￥258</span>
            132人已做
        </p>
    </div>
</div>
<script src="../../../js/jquery-1.12.3.min.js"></script>
<script src="../../../js/global.js"></script>
</body>
</html>