<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>预约订单</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/stylistindex.css">
	<link rel="stylesheet" type="text/css" href="../../css/bespeak.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
<div class="main">
	<div class="head2">
		<span class="back2"></span>
		预约订单
		<a class="staff"></a>
	</div>
	<!-- 我的信息 -->
	<div class="before on">我的信息</div>
	<ul class="phone_box">
		<li>
			<span>预约客户：</span>
			<i class="revise"></i>
			<p>13556****00</p>
			<!-- <em>写</em> -->

		</li>
		<li>
			<span>联系电话：</span>
			<i class="revise"></i>
			<p>13556248800</p>

		</li>
		<li>
			<span>我的备注：</span>
			<p>提醒设计师特别的备注属性</p>

		</li>
	</ul>
	<div class="before on">订单信息</div>
	<dl class="order_box">
		<dt class="name">
				<span>
					<img src="../../images/fav.png" alt="">
				</span>
		<p>大卫</p>
		</dt>
		<dd>
			服务项目：
			<span>直接预约</span>
		</dd>
		<dd>
			预约时间：
			<span>2016年12月12日22:00</span>
		</dd>
		<dd>
			预约地址：
			<span>珠江高德地图</span>
		</dd>
		<dd>
			参考价格：
			<span>￥44.84</span>
		</dd>
		<dd class="price">
			<a href="">价格表</a>
		</dd>
	</dl>
</div>
<div class="submit_box" reUrl="../../status.html">确认提交</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/global.js"></script>
</html>
