<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>选技师</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/stylistindex.css">
	<link rel="stylesheet" type="text/css" href="../../css/choice.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
	<div class="main">
		<div class="head2">
			<span class="back2"><</span>选择技师
		</div>
		<div class="nav">
			<div class="sort">
				综合排序
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
				</ul> 
			</div>
			<div class="level">
				等级
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
				</ul>
			</div>
		</div>
		<div>
			<div class="present_box">
				<span class="head"><img src="" alt=""></span>
				<div>
					<p class="name">asdasdspan	<span>总监</span></p>
					<p>★★★★<span class="number">接单123次</span></p>
				</div>
			</div>
			<div class="present_box">
				<span class="head"><img src="" alt=""></span>
				<div>
					<p class="name">asdasdspan	<span>总监</span></p>
					<p>★★★★<span class="number">接单123次</span></p>
				</div>
			</div>
			<div class="present_box">
				<span class="head"><img src="" alt=""></span>
				<div>
					<p class="name">asdasdspan	<span>总监</span></p>
					<p>★★★★<span class="number">接单123次</span></p>
				</div>
			</div>
		</div>
			
		</div>
	</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/global.js"></script>
<script>
</script>
</html>
