<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>选技师</title>
	<meta charset="UTF-8">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/stylistindex.css">
	<link rel="stylesheet" type="text/css" href="../../css/choice.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
<div class="main">
	<div class="mask"></div>
	<div class="head2">
		<span class="back2"></span>选择技师
	</div>
	<div class="nav">
		<div class="sort">
			综合排序
		</div>
		<div class="level">
			等级
		</div>
	</div>
	<div class="list_box">
		<ul>
			<li>热门</li>
			<li>洗剪吹</li>
			<li>发型师</li>
		</ul>
		<ul>
			<li>初级</li>
			<li>中级</li>
			<li>高级</li>
		</ul>
	</div>
	<div>
		<div class="present_box">
			<a href="">
				<span class="head"><img src="../../images/little-fare.jpg" alt=""></span>
				<div>
					<p class="name">Asize	<span>总监</span></p>
					<p class="star">★★★★<span class="number">接单123次</span></p>
				</div>
			</a>
		</div>
		<div class="present_box">
			<a href="">
				<span class="head"><img src="../../images/fav.png" alt=""></span>
				<div>
					<p class="name">Asize	<span>总监</span></p>
					<p class="star">★★★★<span class="number">接单123次</span></p>
				</div>
			</a>
		</div>
		<div class="present_box">
			<a href="">
				<span class="head"><img src="../../images/fxs.png" alt=""></span>
				<div>
					<p class="name">Json	<span>总监</span></p>
					<p class="star">★★★★<span class="number">接单123次</span></p>
				</div>
			</a>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/global.js"></script>
<script>
	$(".nav div").on("click",function(){
		var i = $(this).index();
		$(this).css("color","orange").siblings().css("color","#000");
		$(".list_box ul").eq(i).show().siblings().hide();
		$(".mask").show();
	})
	$(".list_box ul li").on("click",function(){
		var i = $(this).parent().index();
		var test = $(this).html();
		$(this).addClass("on").siblings().removeClass("on");
		$(".nav div").eq(i).html(test).css("color","#000");
		$(".list_box ul,.mask").hide();
	})
	$(".mask").on("click",function(){
		$(".list_box ul,.mask").hide();
		$(".nav div").css("color","#000")
	})
</script>
</html>
