<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>挑选技师</title>
	<meta charset="UTF-8">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/choose.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
<div class="main">
	<div class="head_box">
		<input type="text">
		<span class="close">取消</span>
	</div>
	<div class="technician_box">
		<div class="technician_list">
				<span class="head">
					<img src="../../images/fav.png" alt="">
				</span>
			<div class="explain">
				<p class="name_box">
					<em class="stylist">andsad</em>
					<i class="aft">专业</i>
				</p>
				<p class="level">★★★★<span>接单579次</span></p>
			</div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/global.js"></script>
</html>
