<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>主页</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/index.css">
	<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
	<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>

<div class="main">
	<!-- 首页 -->
	<div class="home_page">
		<div class="head">
			<div class="head_top">
				<span class="there" reUrl="../../othercity.html">广州</span>
				<span class="logo">logo</span>
				<a href="" class="search"></a>
				<a href="" class="news"></a>
			</div>
			<div class="nav_box">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../../images/1-1.jpg">
						</div>
						<div class="swiper-slide">
							<img src="../../images/2-2.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="../../images/3-3.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="../../images/4-4.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="../../images/5-5.jpg" alt="">
						</div>
					</div>
					<!-- 如果需要分页器 -->
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
		<!-- 项目 -->
		<ul class="project_box">
			<li>
				<div class="project_readius">
					<a href="../../choice.html" class="hairdressing"></a>
				</div>
				美发
			</li>
			<li>
				<div class="project_readius">
					<a href="../../choice.html" class="cosmetology"></a>
				</div>
				美容
			</li>
			<li>
				<div class="project_readius">
					<a href="../../choice.html" class="manicure"></a>
				</div>
				美甲
			</li>
			<li>
				<div class="project_readius">
					<a href="../../choice.html" class="beauty"></a>
				</div>
				美瞳
			</li>
			<li>
				<div class="project_readius">
					<a href="../../choice.html" class="dressing"></a>
				</div>
				美妆
			</li>
		</ul>
		<!-- 礼包 -->
		<div class="Package_box">
			<a class="member"></a>
			<a class="sprog"></a>
		</div>
		<!-- 分店 -->
		<div class="store_box" style="overflow: hidden;">
			<div class="store_title">
				<span>体验店&middot;广州店</span>
			</div>
			<div class="store">
				<div class="swiper-container2">
					<div class="swiper-wrapper" reUrl="../../storepictures.html">
						<div class="swiper-slide">
							<img src="../../images/xxdian.png" alt="">
							<p>珠江东路高德置地点</p>
						</div>
						<div class="swiper-slide" reUrl="../../storepictures.html">
							<img src="../../images/xxdian.png" alt="">
							<p>珠江东路高德置地点</p>
						</div>
						<div class="swiper-slide" reUrl="../../storepictures.html">
							<img src="../../images/xxdian.png" alt="">
							<p>珠江东路高德置地点</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 宣传框 -->
		<div class="propagate_box1">
			<p class="propagate_title before">美发&middot;明显明星发型师</p>
			<img src="../../images/zlfxs.png" alt="" class="propagate_img">
		</div>
		<!-- 流行发型师 -->
		<div class="hot_box">
			<p>
				<span class="before">美发&middot;最热发型师</span>
				<span class="mor" reUrl="../../choice.html">更多></span>
			</p>
			<div class="big_hot_box">
				<div class="big_hot" reUrl="../../mystylistuse.html">
					<img src="../../images/fxs.png" alt="">
					<p>初级发型师</p>
				</div>
				<div class="big_hot" reUrl="../../mystylistuse.html">
					<img src="../../images/fxs.png" alt="">
					<p>初级发型师</p>
				</div>
			</div>
			<ul class="hot">
				<li>
					<img src="../../images/fxs.png" alt="">
				</li>
				<li>
					<img src="../../images/fxs.png" alt="">
				</li>
				<li>
					<img src="../../images/fxs.png" alt="">
				</li>
				<li>
					<img src="../../images/fxs.png" alt="">
				</li>
				<li>
					<img src="../../images/fxs.png" alt="">
				</li>
				<li>
					<img src="../../images/fxs.png" alt="">
				</li>
			</ul>
		</div>
		<!-- 流行发型 -->
		<div class="popular_box" reUrl="../../choice.html">
			<p class="title_box">
				<span class="before">美发&middot;流行发型</span>
				<i class="mor" reUrl="../../choice.html">更多></i>
			</p>
			<ul class="wares_box">
				<li reUrl="../../choice.html">
					<img src="../../images/litter.png" alt="">
					<p class="name">美发</p>
					<p class="price">￥1680<span>0人已做</span></p>
				</li>
				<li reUrl="../../choice.html">
					<img src="../../images/litter.png" alt="">
					<p class="name">美发</p>
					<p class="price">￥1680<span>0人已做</span></p>
				</li>
				<li reUrl="../../choice.html">
					<img src="../../images/litter.png" alt="">
					<p class="name">美发</p>
					<p class="price">￥1680<span>0人已做</span></p>
				</li>
				<li reUrl="../../choice.html">
					<img src="../../images/litter.png" alt="">
					<p class="name">美发</p>
					<p class="price">￥1680<span>0人已做</span></p>
				</li>
			</ul>
		</div>
		<!-- 查看更多 -->
		<div class="more_btn" reUrl="../../choice.html">
			查看更多推荐 >
		</div>
	</div>
	<!-- 精选 -->
	<div class="choice_box">
		<!-- 头部 -->
		<div class="banner">
			美丽之家
			<span class="more" reUrl="../../choice.html">更多</span>
		</div>
		<!-- tab_title -->
		<ul class="nav_box">
			<li class="on">精选作品</li>
			<li>精选主题</li>
		</ul>
		<!-- 精选作品 -->
		<div class="nav">
			<!-- 精选作品格子 -->
			<div class="culling">
				<p class="before">彩妆&middot;精致<span class="mor" reUrl="../../choice.html">更多></span></p>
				<ul class="">
					<li></li>
					<li>
						<span></span>
						<span></span>
					</li>
				</ul>
			</div>
		</div>
		<!-- 精选主题 -->
		<div class="nav">
			<!-- 精选主题格子 -->
			<div class="theme">
				<p></p>
				<img src="">
			</div>
		</div>
	</div>
	<!-- 预约 -->
	<div class="bespeak_box">
		<!-- 头部 -->
		<div class="title">预约一下<span reUrl="../../choice.html">更多</span></div>
		<!-- 项目名称 -->
		<ul class="project_box">
			<li>美发</li>
			<li>美容</li>
			<li>美甲</li>
			<li>美瞳</li>
			<li>美妆</li>
			<li class="trigon"></li>
		</ul>
		<!-- 项目详情 -->
		<div class="details">
			<ul>
				<li class="title_box">
					<div class="before">服务信息</div>
				</li>
				<li>到店服务</li>
				<li>选择预约时间</li>
				<li>什么店</li>
				<li>
					<p>预约一下</p>
				</li>
			</ul>
		</div>
	</div>
	<!-- 我的 -->
	<div class="use_box">
		<div>
			<span>菜单</span>
			<em>头像</em>
			<span>名字</span>
			<span>积分</span>
		</div>
		<ul>
			<li>订单</li>
			<li>技师</li>
			<li>作品</li>
			<li>钱包</li>
		</ul>
		<p>我的消息</p>
		<p>邀请送豪礼</p>
		<p>扫一扫</p>
		<p>优惠券</p>
		<p>签到赚积分</p>
		<p>意见反馈</p>
		<p>关于我们</p>
	</div>
	<!-- 底部 -->

	<jsp:include page="../../include/footer.jsp" flush="true"/>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script src="../../js/global.js"></script>
<script>

	$(function(){
		$(".bottom_box li").eq(0).addClass("on");
		var mySwiper = new Swiper ('.swiper-container', {
			direction: 'horizontal',
			loop: true,
			autoplay : 3000,
			speed:300,
			// 如果需要分页器
			pagination: '.swiper-pagination',

		})
		var mySwiper = new Swiper ('.swiper-container2', {
			direction: 'horizontal',
			slidesPerView : 2.2,
			loop: true,
		})
	})
</script>
</html>
