<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>美发师列表</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../css/there.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/listing.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
<div class="main">
	<div class="mask"></div>
	<div class="head2">
		<span class="back2"></span>
		<div class="head_nav">
			美发
		</div>
		<div class="head_right">
			<a class="wallet" href=""></a>
			<a class="mor" href=""></a>
		</div>
	</div>
	<ul class="filter_box">
		<li>全部店铺</li>
		<li>综合排序</li>
		<li>等级</li>
	</ul>
	<div class="nav_box">
		<ul>
			<li>不知道1</li>
			<li>不知道1</li>
			<li>不知道1</li>
		</ul>
		<ul>
			<li>不知道2</li>
			<li>不知道2</li>
			<li>不知道2</li>
		</ul>
		<ul>
			<li>不知道3</li>
			<li>不知道3</li>
			<li>不知道3</li>
		</ul>
	</div>
	<div class="details_box">
		<div class="list_box">
				<span class="use_box">
					<img src="../../images/little-fare.jpg" alt="">
				</span>
			<div class="skill">
				<p class="name">
					<em class="stylist">andsad</em>
					<i class="aft">专业</i>
					<span>直接预约</span>
				</p>
				<p class="level">
					★★★★
					<span>接单999次</span>
				</p>
				<div class="pic">
					<img src="../../images/little-fare.jpg" alt="">
					<img src="../../images/fav.png" alt="">
					<img src="../../images/fxs.png" alt="">
				</div>
				<p class="forte">精致短发中长发</p>
				<p class="address">天河北路中心广场店
					<span class="worth">剪发<i style="color:red">￥88</i></span>
				</p>
			</div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/global.js"></script>
</html>


