<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>我的（技师个人主页）or美发师详情</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../../../css/reset.css">
	<link rel="stylesheet" href="../../../../css/mystylistuse.css">
	<link rel="stylesheet" type="text/css" href="../../../../css/iconfont.css">
	<link rel="stylesheet" type="text/css" href="../../../../css/swiper.min.css">

	<script type="text/javascript" src="../../../../js/css/flexible.js"></script>

</head>
<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta content="telephone=no" name="format-detection" />
<link rel="stylesheet" href="../../css/reset.css">
<link rel="stylesheet" href="../../css/mystylistopus.css">
<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css">
<link rel="stylesheet" href="../../css/common.css">
<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
<div class="main">
	<!-- 头部部分 -->
	<div class="head_box">
		<div class="top">
			<span class="back2"></span>
			<a class="collect" href=""></a>
			<a class="mor" href=""></a>
		</div>
		<img src="../../images/1-1.jpg" class="blur"><!-- 背景 -->
	</div>
	<div class="opus-name">
		<span class="opus_fl">外国人风微微卷</span>
		<span class="opus_fr">￥1280.00</span>
	</div>
	<div class="opus-introduce">
		<p class="opus-style">
			风格：自然的卷曲与浅棕色的染发颜色融合出轻盈的外国人风
		</p>
		<p class="opus-style">
			说明：此款作品仅包含染发费用，如需增加其他项目（如剪发、染发、狐狸等）请与设计师沟通
		</p>
		<p class="opus-title">
			<span class="opus-time">时长：120分钟</span>
			<span class="">保持：90天</span>
			<span class="opus-done">已做：0人</span>
		</p>
	</div>
	<div class="technician_list">
			<span class="head"> <img src="/mifang/images/fxs.png" alt="">
			</span>
		<div class="explain">
			<p>Asize&nbsp;|&nbsp;美发</p>
			<div class="level">
				<p class="level-start">
					★★★★★
				</p>&nbsp;接单579次
			</div>
		</div>
	</div>
	<div class="site_box">
		<a class="place">高德店</a>
	</div>
	<div class="site_box">
		<a class="appraise">Asize的评论
			<span>1039条</span>
		</a>
	</div>
	<div class="title_box criticism">
			<span class="customer_box">
				<img src="../../images/fav.png" alt="">
			</span>
		<div>
			<p class="name">邓<span class="star">★★★★</span></p>
			<p>很好</p>
			<div class="pic">
				<img src="../../images/little-fare.jpg" alt="">
				<img src="../../images/xfxs.png" alt="">
				<img src="../../images/fxs.png" alt="">
				<img src="../../images/little-fare.jpg" alt="">
				<img src="../../images/xfxs.png" alt="">
				<img src="../../images/fav.png" alt="">
			</div>
			<p class="time">2017年1月7日11:08:58</p>
		</div>
	</div>
	<div class="title_box criticism">
			<span class="customer_box">
				<img src="../../images/fav.png" alt="">
			</span>
		<div>
			<p class="name">邓<span class="star">★★★★</span></p>
			<p>很好</p>
			<div class="pic">
				<img src="../../images/little-fare.jpg" alt="">
				<img src="../../images/xfxs.png" alt="">
				<img src="../../images/fxs.png" alt="">
				<img src="../../images/little-fare.jpg" alt="">
				<img src="../../images/xfxs.png" alt="">
				<img src="../../images/fav.png" alt="">
			</div>
			<p class="time">2017年1月7日11:08:58</p>
		</div>
	</div>
	<div class="works_box">
		<ul class="choice_box">
			<li class="on">默认排序</li>
			<li>销量优先</li>
			<li>价格最低</li>
		</ul>
		<ul class="list_box">
			<li>
				<img src="../../images/xxdian.png" alt="">
				<p>阿萨德阿萨德</p>
				<p>￥1234<span>123人已做</span></p>
			</li>
			<li>
				<img src="../../images/xxdian.png" alt="">
				<p>阿萨德阿萨德</p>
				<p>￥1234<span>123人已做</span></p>
			</li>
			<li>
				<img src="../../images/xxdian.png" alt="">
				<p>阿萨德阿萨德</p>
				<p>￥1234<span>123人已做</span></p>
			</li>

		</ul>
	</div>
	<div class="no_more">没有更多</div>
	<div class="bottom_box">
		<a href="" class="contact">联系技师</a>
		<a href="" class="order">选中该作品</a>
	</div>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script src="../../js/global.js"></script>
<script>
	$(".img_box .close").on("click",function(){
		$(".img_box img").slideToggle(500);
		var test = $(".img_box .close").html()
		if(test == "收起"){
			$(".img_box .close").html("展开").addClass("on")
		}else{
			$(".img_box .close").html("收起").removeClass("on")
		}
	})
	$(".choice_box li").on("click",function(){
		$(this).addClass("on").siblings().removeClass("on")
	})

</script>
</html>
