<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>我的（技师个人主页）or美发师详情</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/mystylistuse.css">
	<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
	<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css">

	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
	<div class="main">
		<!-- 头部部分 -->
		<div class="head_box">
			<div class="top">
				<span><</span>
				<span>星星</span>
				<span>聊天</span>
			</div>
			<div class="use_box">
				<div class="top">
					<img src="" alt=""><!-- 头像 -->
				</div>
				<p><!-- 星星 -->★★★★</p>
				<p>安迪|<span>专业设计师</span></p>
				<p>剪发99次  接单999次</p>
			</div>
			<img src="" alt="" class="blur"><!-- 背景 -->
		</div>
		<div class="title_box">
			<span>介绍：</span>
			<p>按时大大阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德按时</p>
		</div>
		<div class="title_box">
			<span>擅长：</span>
			<p>按时大大阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德按时</p>
		</div>
		<div class="title_box">
			<span>获奖：</span>
			<p>按时大大阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德阿萨德按时</p>
			<p>收起</p>
		</div>
		<div class="title_box">
			<span>介绍：</span>
			<div>
				<p>阿萨德阿萨德阿萨德阿萨德</p>
				<div class="img_box">
					<img src="../../images/about-logo.png" alt="">
					<img src="../../images/about-logo.png" alt="">
				</div>
			</div>
		</div>
		<div class="site_box">阿萨德阿萨德阿萨德啊撒的</div>
		<div class="site_box">阿萨德阿萨德阿萨德啊撒的</div>
		<div class="title_box criticism">
			<span class="customer_box">
				<img src="../../images/about-logo.png" alt="">
			</span>
			<div>
				<p>邓<span>★★★★</span></p>
				<p>很好</p>
				<div>
					<img src="../../images/about-logo.png" alt="">
					<img src="../../images/about-logo.png" alt="">
				</div>
			</div>
		</div>
		<div class="works_box">
			<ul class="choice_box">
				<li>默认排序</li>
				<li>销量优先</li>
				<li>价格最低</li>
			</ul>
			<ul class="list_box">
				<li>
					<img src="../../images/about-logo.png" alt="">
					<p>阿萨德阿萨德</p>
					<p>￥1234<span>123人已做</span></p>
				</li>
				<li>
					<img src="../../images/about-logo.png" alt="">
					<p>阿萨德阿萨德</p>
					<p>￥1234<span>123人已做</span></p>
				</li>
				<li>
					<img src="../../images/about-logo.png" alt="">
					<p>阿萨德阿萨德</p>
					<p>￥1234<span>123人已做</span></p>
				</li>

			</ul>
		</div>
		<div class="no_more">没有更多</div>
		<div class="bottom_box">
			<a href="">没有更多</a>
			<a href="">直接预约</a>
		</div>
	</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script src="../../js/global.js"></script>
<script>
</script>
</html>
