<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
    <title>我的（技师个人主页）or美发师详情</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/mystylistuse.css">
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
<div class="main">
    <!-- 头部部分 -->
    <div class="head_box">
        <div class="top">
            <span class="back2"></span>
            <a class="collect" href=""></a>
            <a class="mor" href=""></a>
        </div>
        <div class="use_box">
            <div class="top">
                <img src="../../images/fav.png" alt=""><!-- 头像 -->
            </div>
            <p class="star"><!-- 星星 -->★★★★</p>
            <p>安迪|<span>专业设计师</span></p>
            <p>剪发99次  接单999次</p>
        </div>
        <img src="../../images/fav.png" alt="" class="blur"><!-- 背景 -->
    </div>
    <div class="title_box">
        <span>介绍：</span>
        <p>2002年毕业于国际标榜学院，随后进修于香港造型学院、法国路易士、伽马造型学院、多次进修日韩精湛技术课程、欧莱雅公司烫染设计课程、2008年世界亚裔小姐选美大赛指定造型师；2009年参加国际牛仔大赛，并获得总冠军。2013年担任广州广播电台录制现场指定造型师。</p>
    </div>
    <div class="title_box">
        <span>擅长：</span>
        <p>#擅长：长短发精致裁剪、烫发染发色彩搭配.#</p>
    </div>
    <div class="title_box">
        <span>获奖：</span>
        <p>2009年国际牛仔大赛总冠军</p>
        <p>个人最佳设计将</p>
    </div>
    <div class="title_box">
        <span>介绍：</span>
        <div>
            <p>大镁铝、大长腿、专业洗剪吹</p>
            <div class="img_box">
                <img src="../../images/fav.png" alt="">
                <img src="../../images/fxs.png" alt="">
                <img src="../../images/little-fare.jpg" alt="">
                <img src="../../images/xfxs.png" alt="">
                <img src="../../images/fav.png" alt="">
                <div class="close">收起</div>
            </div>
        </div>
    </div>
    <div class="site_box">
        <a class="place">高德店</a>
    </div>
    <div class="site_box">
        <a class="appraise">顾客评价</a>
    </div>
    <div class="title_box criticism">
			<span class="customer_box">
				<img src="../../images/fav.png" alt="">
			</span>
        <div>
            <p class="name">邓<span class="star">★★★★</span></p>
            <p>很好</p>
            <div class="pic">
                <img src="../../images/little-fare.jpg" alt="">
                <img src="../../images/xfxs.png" alt="">
                <img src="../../images/fxs.png" alt="">
                <img src="../../images/little-fare.jpg" alt="">
                <img src="../../images/xfxs.png" alt="">
                <img src="../../images/fav.png" alt="">
            </div>
            <p class="time">2017年1月7日11:08:58</p>
        </div>
    </div>
    <div class="title_box criticism">
			<span class="customer_box">
				<img src="../../images/fav.png" alt="">
			</span>
        <div>
            <p class="name">邓<span class="star">★★★★</span></p>
            <p>很好</p>
            <div class="pic">
                <img src="../../images/little-fare.jpg" alt="">
                <img src="../../images/xfxs.png" alt="">
                <img src="../../images/fxs.png" alt="">
                <img src="../../images/little-fare.jpg" alt="">
                <img src="../../images/xfxs.png" alt="">
                <img src="../../images/fav.png" alt="">
            </div>
            <p class="time">2017年1月7日11:08:58</p>
        </div>
    </div>
    <div class="works_box">
        <ul class="choice_box">
            <li class="on">默认排序</li>
            <li>销量优先</li>
            <li>价格最低</li>
        </ul>
        <ul class="list_box">
            <li>
                <img src="../../images/xxdian.png" alt="">
                <p>阿萨德阿萨德</p>
                <p>￥1234<span>123人已做</span></p>
            </li>
            <li>
                <img src="../../images/xxdian.png" alt="">
                <p>阿萨德阿萨德</p>
                <p>￥1234<span>123人已做</span></p>
            </li>
            <li>
                <img src="../../images/xxdian.png" alt="">
                <p>阿萨德阿萨德</p>
                <p>￥1234<span>123人已做</span></p>
            </li>

        </ul>
    </div>
    <div class="no_more">没有更多</div>
    <div class="bottom_box">
        <a href="" class="contact">联系技师</a>
        <a href="" class="order">直接预约</a>
    </div>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script src="../../js/global.js"></script>
<script>
    $(".img_box .close").on("click",function(){
        $(".img_box img").slideToggle(500);
        var test = $(".img_box .close").html()
        if(test == "收起"){
            $(".img_box .close").html("展开").addClass("on")
        }else{
            $(".img_box .close").html("收起").removeClass("on")
        }
    })
    $(".choice_box li").on("click",function(){
        $(this).addClass("on").siblings().removeClass("on")
    })

</script>
</html>