<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>其他城市</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/othercity.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
<div class="main">
	<div class="head2">
		<span class="back2"></span>其他城市
	</div>
	<div class="letter_box">
		<ul class="first">
			<li class="on">A</li>
			<li>B</li>
			<li>C</li>
			<li>D</li>
			<li>E</li>
			<li>F</li>
			<li>G</li>
			<li>H</li>
			<li>I</li>
		</ul>
		<ul class="two">
			<li>J</li>
			<li>K</li>
			<li>L</li>
			<li>M</li>
			<li>N</li>
			<li>O</li>
			<li>P</li>
			<li>Q</li>

		</ul>
		<ul class="three">
			<li>R</li>
			<li>S</li>
			<li>T</li>
			<li>U</li>
			<li>V</li>
			<li>W</li>
			<li>S</li>
			<li>Y</li>
			<li>Z</li>
		</ul>
	</div>
	<ul class="city_box">
		<li class="city_list"><span class="city">惠州市</span><span class="serve">(已经开通服务)</span></li>
		<li class="city_list"><span class="city">广州市</span><span class="serve">(已经开通服务)</span></li>
		<li class="city_list"><span class="city">佛山市</span><span class="serve">(已经开通服务)</span></li>
		<li class="city_list"><span class="city">东莞市</span><span class="serve">(已经开通服务)</span></li>

	</ul>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
</html>

