<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>美发流行发型</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/popular.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
<div class="main">
	<div class="head2">
		<span class="back2"></span>美发流行发型
	</div>
	<ul class="style_box">
		<li class="style_list">
			<img src="../../images/little-fare.jpg" alt="">
			<p class="name">很好看的染发</p>
			<p class="number">￥1620<span>111人已做</span></p>
		</li>
		<li class="style_list">
			<img src="../../images/zlfxs.png" alt="">
			<p class="name">很好看的染发</p>
			<p class="number">￥1620<span>111人已做</span></p>
		</li>
		<li class="style_list">
			<img src="../../images/litter.png" alt="">
			<p class="name">很好看的染发</p>
			<p class="number">￥1620<span>111人已做</span></p>
		</li>
		<li class="style_list">
			<img src="../../images/fxs.png" alt="">
			<p class="name">很好看的染发</p>
			<p class="number">￥1620<span>111人已做</span></p>
		</li>
	</ul>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
</html>
