<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>提交成功</title>
	<meta charset="UTF-8">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/stylistindex.css">
	<link rel="stylesheet" type="text/css" href="../../css/status.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
<div class="main">
	<div class="head2">
		<span class="back2"></span>订单状态
	</div>
	<!-- 我的信息 -->

	<div class="head_box">
		<h3>已预约</h3>
		<p>下单成功，设计师将尽快与您<br />联系确认，请留意手机</p>
	</div>
	<i class="wire"></i>
	<div class="contact_box">
		<p class="name">
			预约人:132465467494
			<a href="">1345448411671</a>
		</p>
		<p class="time">预约时间：2017年1月8日09:41<span>..修改</span></p>
		<p class="place_box">
			<span class="title">预约地点:</span>
			<span class="map"></span>
			<span class="place">广东省广州市天河区高德南区大隆大厦B栋1209-1211</span>
		</p>
	</div>
	<i class="wire"></i>
	<div class="mechanic_box">
		<p class="name">
			<a href="" class="staff"> David </a>
			<a href="" class="contact">联系技师</a>
		</p>
		<div class="item">
			<a href="">
				<img src="../../images/zlfxs.png" alt="">
				<span>直接预约美发</span>
			</a>
		</div>
	</div>
	<p class="explain_title">订单号:465465132165465465 <a>取消订单</a></p>
	<p class="explain_title">下单时间:2016年12月14日 22:00</p>
	<a class="phone" href="">客服电话:400-820-8820</a>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/global.js"></script>
</html>
