<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>提交成功</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/stylistindex.css">
	<link rel="stylesheet" type="text/css" href="../../css/status.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
	<div class="main">
		<div class="head2">
			<span class="back2"><</span>订单状态
		</div>
		<!-- 我的信息 -->
		<div class="head_box">
			<h3>已预约</h3>
			<p>下单成功，设计师将尽快与您<br />联系确认，请留意手机</p>
		</div>
		<div class="contact_box">
			<p>预约人:132465467494 <span>1345448411671</span></p>
			<p class="time">预约时间<span>修改</span></p>
			<p>预约地点:真的是啊三点半撒的会卡死阿萨德按时</p>
		</div>
		<div class="mechanic_box">
			<p class="name">David ><span>联系技师</span>	</p>
			<div class="item">
				<img src="" alt="">
				<span>直接预约美发</span>
			</div>
		</div>
		<p class="explain_title">订单号:465465132165465465 <span>取消订单</span></p>
		<p class="explain_title">下单时间:2016年12月14日 22:00</p>
		<p class="phone">客服电话:400-820-8820</p>
	</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/global.js"></script>
</html>
