<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>门店图片轮播图or所在门店信息</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/storepictures.css">
	<link rel="stylesheet" type="text/css" href="../../css/there.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
	<div class="main">
		<div class="nav_box">
			<div class="head_top">
				<span>返回</span>
				<a href="">我的消息</a>
			</div>
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide">
			        	<img src="../../images/shouyeswiper.png" alt="">
			        </div>
			        <div class="swiper-slide">
			        	<img src="../../images/shouyeswiper.png" alt="">
			        </div>
			        <div class="swiper-slide">
			        	<img src="../../images/shouyeswiper.png" alt="">
			        </div>
			    </div>
			</div>
		</div>
		<div class="datum_box">
			<div class="touch_box">
				<a href="">电话号码</a>
				<div>
					<p>Merry Christmas</p>
					<h2>高德地图持续为您导航</h2>
				</div>
			</div>
			<div class="address">地址在哪里呢高德地图持续导航</div>
			<div class="datum">
				<p>我打手电阿萨德啊实打实该地块骄傲</p>
				<p class="time">时间：10：00-22:00正常营业</p>
				<p>预约：一键预约，不需要再店里面等哟~</p>
				<a href="">点击查看更多</a>
			</div>
		</div>
		<div class="pick_box">
			<p class="designers">设计师<i>Merry</i></p>
			<div class="designers_box">
				<div class="designers_list">
					<span class="left">
						<img src="" alt="">
					</span>
					<div class="name_box">
						<span class="right">预约</span>
						<p class="name">大卫</p>
						<p class="style">洗剪吹吹尺寸</p>
					</div>
				</div>
				<div class="designers_list">
					<span class="left">
						<img src="" alt="">
					</span>
					<div class="name_box">
						<span class="right">预约</span>
						<p class="name">大卫</p>
						<p class="style">洗剪吹吹尺寸</p>
					</div>
				</div>
				<div class="designers_list">
					<span class="left">
						<img src="" alt="">
					</span>
					<div class="name_box">
						<span class="right">预约</span>
						<p class="name">大卫</p>
						<p class="style">洗剪吹吹尺寸</p>
					</div>
				</div>
				<div class="designers_list">
					<span class="left">
						<img src="" alt="">
					</span>
					<div class="name_box">
						<span class="right">预约</span>
						<p class="name">大卫</p>
						<p class="style">洗剪吹吹尺寸</p>
					</div>
				</div>
				<div class="designers_list">
					<span class="left">
						<img src="" alt="">
					</span>
					<div class="name_box">
						<span class="right">预约</span>
						<p class="name">大卫</p>
						<p class="style">洗剪吹吹尺寸</p>
					</div>
				</div>
			</div>
			<div class="mor_box">查看更多设计师</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script src="../../js/global.js"></script>
<script>
	$(function(){
		var mySwiper = new Swiper ('.swiper-container', {
		    direction: 'horizontal',
		    loop: true,

		  })
	})
</script>
</html>
