<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>预约订单</title>
	<meta charset="UTF-8">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/stylistindex.css">
	<link rel="stylesheet" type="text/css" href="../../css/there.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
<div class="main">
	<div class="head2">
		<span class="back2"></span>预约订单
	</div>
	<!-- 我的信息 -->
	<div class="before">我的信息</div>
	<ul>
		<li>
			<span>预约客户</span>
			<span>13556248800</span>
			<em></em>
			<i></i>
		</li>
		<li>
			<span>预约客户</span>
			<span>13556248800</span>
			<em></em>
			<i></i>
		</li>
		<li>
			<span>我的预约</span>
			<span>13556248800</span>
		</li>
	</ul>
	<div class="before">订单信息</div>
	<dl>
		<dt>
				<span>
					<img src="" alt="">
				</span>
		<p>大卫</p>
		</dt>
		<dd>
			服务项目
			<span>直接预约</span>
		</dd>
		<dd>
			预约时间
			<span>2016年12月12日22:00</span>
		</dd>
		<dd>
			预约地址
			<span>珠江高德地图</span>
		</dd>
		<dd>
			参考价格
			<span>￥44.84</span>
		</dd>
		<dd>
			<span>价格表</span>
		</dd>
	</dl>
	<div class="submit_box"></div>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/global.js"></script>
</html>