<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>门店信息</title>
	<meta charset="UTF-8">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/stylistindex.css">
	<link rel="stylesheet" type="text/css" href="../../css/there.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
<div class="main">
	<div class="head2">
		<span class="back2"></span>珠江东路高德地图
	</div>
	<!-- 地址说明 -->
	<div class="store_box">
		<p class="storename">珠江东路高德地图<a href=""></a></p>
		<p class="store_explain">
			<span>主营：</span>
			<span>美发</span>
		</p>
		<p class="store_explain">
			<span>地址：</span>
			<span>天河区珠江东路13号高德置地冬商场4楼406A-406B</span>
		</p>
	</div>
	<!-- 营业时间 -->
	<div class="operate_box">
		<p class="title">营业时间:</p>
		<p>位于珠江新城CBD中轴核心，附近美食影院书店应有尽有，享受一站式吃喝玩乐。</p>
		<p>营业时间：10:00-22:00 节假日正常营业</p>
		<p>预约：APP选择心仪造型师一键预约，到店不用等</p>
		<p>提供：小吃、WiFi、VIP室、停车</p>
	</div>
	<!-- 交通说明 -->
	<div class="traffic_box">
		<p class="title">交通说明</p>
		<p>地铁线路：3号（珠江新城）5号线C出口（猎德）</p>
		<p>公交线路：冼村中路站，线路有20,40,886,293,302A，583,886A等</p>
	</div>
	<!-- 地图 -->
	<div class="map">
		<img src="../../images/map.png" alt="">
	</div>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/global.js"></script>
</html>