<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <script src="../../js/css/flexible.js"></script>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/per-address.css">
    <style>body{background-color:#fff;}pre{font-size:.35rem}</style>
</head>
<body>
<div class="head2">
    <span class="back2"></span>关于我们
</div>
<img src="../../images/about-logo.png" title="美丽元" class="about-logo">
<p class="about-tit about-version">v3.6.2(69)</p>
<p class="about-tit">***，让美丽无处不在</p>
<pre>
  ***，专业互联网美妆平台。目前已开通广州、深圳市场，提供美甲、美发、美睫和化妆服务。

  ***集合资深美妆师，使用顶级美妆产品。轻轻一点App，便能预约上门或者到店

  更便捷：提供上门或门店服务，随心选择，更省心
  更大牌：进口化妆品牌，CND、资深堂等，高端美容院受援，美丽更安心
  更专业：资深技师，系统化培训，服务妥妥的好！
</pre>
<script src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/global.js"></script>
</body>
</html>