<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <script src="../../js/css/flexible.js"></script>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/coupon.css">
    <title>优惠券</title>
</head>
<body>
    <div class="head2">
        <span class="back2"><</span>优惠券
    </div>
    <div class="bg-white">
        <input type="text" placeholder="输入兑换码" class="convert">
        <span class="green">兑换</span>
    </div>
    <nav>
        <ul class="taba">
            <li class="current">未使用</li>
            <li>已失效</li>
            <div class="slide"></div>
        </ul>
    </nav>
    <div class="coupon-list">
            <div class="coupon-cont">
                <div class="coupon-tit coupon-value">
                    <span class="cost">￥</span>
                    <span>30</span>
                </div>
                <div class="coupon-tit coupon-right">
                    <p>美发注册礼券</p>
                    <p>适用：美发</p>
                </div>
            </div>
            <div class="coupon-illustrate">
                <p>2016.12.04-2017.01.03</p>
                <p>新手注册美发优惠券</p>
            </div>
    </div>
    <script src="../../js/jquery-1.12.3.min.js"></script>
    <script src="../../js/global.js"></script>
</body>
</html>