<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>分享邀请</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<link rel="stylesheet" type="text/css" href="../../css/share.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
	<div class="main">
		
		<div class="head2">
			<span class="back2"></span>美丽元用户邀请
		</div>
		<div class="logo">
			<img src="../../images/share_logo.png" alt="">
		</div>	
		<p class="text1">好东东，要分享，点击分享即可送给闺蜜50元现金券</p>
		<p class="text2">当TA首次下单后</p>
		<p class="text3">您也可以获得<span>50元</span>现金券</p>
		<a class="btn">邀请好友</a>
	</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/global.js"></script>
<script>
	
	
</script>
</html>
