<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 50px;">
<head>
	<title>签到页</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<link rel="stylesheet" type="text/css" href="../../css/sign.css">
	<script type="text/javascript" src="../../js/css/flexible.js"></script>

</head>
<body>
	<div class="main">
		
		<div class="head2">
			<span class="back2"></span>用户评论
		</div>
		<div class="big_box">
			<div class="head_box">
				<div class="left">
					<img src="../../images/little-fare.jpg" alt="">
				</div>
				<div class="right">
					连续签到<span>1</span>天
				</div>
				<div class="name">
					<p>137****1154</p>
					<p class="integral">积分：<span>60</span></p>
				</div>
			</div>
			<ul class="time_box">
				<li class="on">
					5
					<p class="day">第1天</p>
				</li>
				<li>
					7
					<p class="day">第1天</p>
				</li>
				<li>
					9
					<p class="day">第1天</p>
				</li>
				<li>
					11
					<p class="day">第1天</p>
				</li>
				<li>
					13
					<p class="day">第1天</p>
				</li>
				<li>
					15
					<p class="day">第1天</p>
				</li>
				<li class="last ">
					17
					<p class="day">第7天</p>
				</li>

			</ul>
			
		</div>
		<div class="supplement_box">
			<p class="titile">积分说明</p>
			<div class="supplement">
				<p>1.美丽元用户均可免费领取50积分，仅限新用户注册；</p>
				<p>2.每日签到获取更多积分，用户首次签到可获得5积分，连续签到每日增加2积分，7日上限，如中途终端重新开始累积积分；</p>
				<p>3.在美丽元消费根据消费金额和消费内容赠送一定比例的积分；</p>
				<p>4.在美丽元提供更多的意见和反馈，奖励10积分；</p>
				<p>5.在美丽元消费完成后分享好友，可获得5积分奖励；</p>
				<p>6.评论已完成的订单可获得5积分；</p>
				<p>7.美丽元积分商城正在努力搭建当中，敬请期待！</p>
				<p>美丽元拥有最终解释权。</p>
			</div>
		</div>
		<div class="btn">签到</div>
			
		
	</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/global.js"></script>
<script>

</script>
</html>
