<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>意见反馈</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <script src="../../js/css/flexible.js"></script>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/suggestions.css">
    <link rel="stylesheet" href="../../css/common.css">
</head>
<body>
    <div class="head2">
        <span class="back2"><</span>意见反馈
        <span class="extend">提交</span>
    </div>
    <p class="question-tit">问题和意见</p>
    <textarea placeholder="您的建议一经采纳，美丽元会给您惊喜哦！" class="question-cont" rows="3">
    </textarea>
    <p class="question-tit">图片（选填，提供问题截图）</p>
    <div class="question-file">
        <img src="../../images/addFile.png" title="点击添加图片">
    </div>
    <script src="../../js/jquery-1.12.3.min.js"></script>
    <script src="../../js/global.js"></script>
</body>
</html>