<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务范围</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no,email=no" name="format-detection"/>
    <script src="../../../js/css/flexible.js"></script>
    <link rel="stylesheet" href="../../../css/common.css">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/setting.css">
    <style>
        body{background-color:#fff;}
        pre{padding:.1rem;color:#999;line-height: .23rem;}
    </style>
</head>
<body>
<div class="head2">
    <span class="back2"></span>服务范围
</div>
    <pre>
幂方海南地区服务范围如下：
海南省
    </pre>
<script src="../../../js/jquery-1.12.3.min.js"></script>
<script src="../../../js/global.js"></script>
</body>
</html>