<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务范围</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no,email=no" name="format-detection"/>
    <script src="../../../js/css/flexible.js"></script>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/setting.css">
    <style>
        body{background-color:#fff;}
        pre{padding:.1rem;color:#999;line-height: .23rem;}
    </style>
</head>
<body>
<div class="head2">
    <span class="back2"><</span>服务范围
</div>
    <pre>
美丽元广州地区服务范围如下：
白云区：北至沈海高速，西至广清高速
荔湾区：西至内环路西线
海珠区：全部区域
越秀区：全部区域
天河区：北至广汕路、天源路
番禺区：东至南沙港快速，西至东新高速，南至市良路市南路
    </pre>
<script src="../../../js/jquery-1.12.3.min.js"></script>
<script src="../../../js/global.js"></script>
</body>
</html>