<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no,email=no" name="format-detection"/>
    <script src="../../../js/css/flexible.js"></script>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/setting.css">
    <link rel="stylesheet" href="../../../css/button.css">
</head>
<body>
<div class="head2">
    <span class="back2"><</span>个人信息
</div>
<div class="set-box">
    <div class="set-tit edit-head">
        <span>编辑头像</span>
        <p class="edit-img">
            <img src="../../../images/edit_img.png">
        </p>
    </div>
</div>
<div class="set-box">
        <div class="set-tit" style="overflow: hidden" reurl="modify_name.html">
                <span class="fleht">
                修改呢称
                </span>
            <span class="fright mr-08">
                135****0139
            </span>
        </div>
        <p class="set-tit" reurl="use_address.html">常用地址</p>
</div>
<div class="set-box">
    <div class="set-tit" style="overflow: hidden">
            <span class="fleht">
                手机号码
            </span>
        <span class="fright mr-08">
                135****0139
            </span>
    </div>
    <div class="set-tit" style="overflow: hidden">
            <span class="fleht">
                微信
            </span>
        <span class="fright mr-08">
                未绑定
            </span>
    </div>
</div>
    <div class="set-box" reurl="../../passport/modifypwd.html">
        <div class="set-tit" style="overflow: hidden">
            <span class="fleht">
                登录密码
            </span>
            <span class="fright mr-08">
                ******
            </span>
        </div>
    </div>

<button class="btn-login">
    退出登录
</button>
<script src="../../../js/jquery-1.12.3.min.js"></script>
<script src="../../../js/global.js"></script>
</body>
</html>