<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>身份验证</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <script src="../../js/jquery-1.12.3.min.js"></script>
    <script src="../../js/css/flexible.js"></script>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/phonelogin.css">
    <link rel="stylesheet" href="../../css/button.css">
    <link rel="stylesheet" href="../../css/common.css">
    <style>
        body{background-color:#c0c0c0}
        .btn{margin-bottom:.3rem;}
    </style>
</head>
<body>
<div class="main">
    <div class="head2">
        <span class="back2"><</span>身份验证
    </div>
    <div>
        <p class="auth-phone">请通过187****3288手机短信验证身份</p>
        <div class="code-box">
            <span class="auth-code">校验码</span>
            <input type="text" class="auth-code-in" placeholder="请输入验证码">
            <span class="auth-code btn-auth">获取验证码</span>
        </div>
    </div>

    <button class="btn">下一步</button>

    <p class="call">无法验证？联系电话客服</p>

</div>
</body>

</html>