<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>手机快捷登录</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <script src="../js/jquery-1.12.3.min.js"></script>
    <script src="../js/css/flexible.js"></script>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/phonelogin.css">
    <link rel="stylesheet" href="../css/button.css">
</head>
<body>
<div class="main">
    <h2>手机快捷登录</h2>
    <div>
        <input type="text" class="name" placeholder="手机号">
        <br />
        <input type="text" class="proving" placeholder="请输入验证码">

        <div class="btn-val">
            获取验证码
        </div>
    </div>
    <p class="warn">温馨提示：未注册美丽元的手机号，登录时将自动注册美丽元手机号</p>
    <button class="btn">登　　录</button>
    <a class="other">使用账号密码登录　→</a>
    <div class="othersbox">
        <p class="support"></p>
        <ul>
            <li class="wx">
                <a>微信登录</a>
            </li>
        </ul>
    </div>

</div>
</body>

</html>