<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号密码登陆</title>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <script src="../../js/jquery-1.12.3.min.js"></script>
    <script src="../../js/css/flexible.js"></script>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/phonelogin.css">
    <link rel="stylesheet" href="../../css/button.css">
</head>
<body>
<div class="main">
    <h2>账号密码登陆</h2>
    <div>
        <input type="text" class="name" placeholder="手机号">
        <br />
        <input type="password" class="pwd" placeholder="请输入密码">
        <br />
        <p class="forget">
            忘记密码？
        </p>
    </div>
    <button class="btn">登　　录</button>
    <a class="other">使用手机快捷登陆　→</a>
    <div class="othersbox">
        <p class="support"></p>
        <ul>
            <li class="wx">
                <a>微信登录</a>
            </li>
        </ul>
    </div>
</div>
</body>

</html>